.demoButton {
  background-color: #1ed760;
  font-family: "Montserrat", sans-serif;

  border-radius: 500px;
  padding: 14px 32px;
  color: #2941ab;
  border: none;
  height: 47px;
  width: 250px;
  margin-bottom: 10vh;
}

.landingBackground {
  background-image: url(https://i.ibb.co/k3mM9LR/vibing-is.png);
  background-size: cover;
  height: 100vh;
  position: relative;
  bottom: 110px;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  transition: ease all 0.5s;
}

/* Mobile Media Query */
@media only screen and (max-width: 767px) {
  .landingBackground {
    background-image: url(https://res.cloudinary.com/dexkxkrfp/image/upload/v1640656253/MusicHub/mh-mobile-splash_zqjkcn.png);
    background-size: cover;
    height: 100vh;
    position: relative;
    bottom: 110px;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }
}

/* Ipad 12 Pro Media Query */
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .landingBackground {
    background-image: url(https://res.cloudinary.com/dexkxkrfp/image/upload/v1640715975/MusicHub/iPad_Pro_12.9__-_2_pltciw.png);
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-bottom: 30%;
    bottom: 110px;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }
}

/* Ipad 11 Pro Media Query */
@media only screen and (max-width: 500px) {
  .landingBackground {
    background-image: url(https://res.cloudinary.com/dexkxkrfp/image/upload/v1640657863/MusicHub/iPad_Pro_11__-_1_u0hmvy.png);
    background-size: cover;
    height: 100vh;
    position: relative;
    bottom: 110px;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }
}

/*  Mid size screen window Media Query */
@media only screen and (min-width: 1001px) and (max-width: 1130px) {
  .landingBackground {
    background-image: url(https://res.cloudinary.com/dexkxkrfp/image/upload/v1640716127/MusicHub/Desktop_-_1_4_hpodfd.png);
    background-size: cover;
    height: 100vh;
    position: relative;
    bottom: 110px;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }
}

.landingPageContainer {
  overflow-x: hidden;
  max-width: 100vw;
  background-color: white;
  height: 100vh;
}

.footerContainer {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  position: relative;
  bottom: 6%;
  height: 20%;
}

.footerLinksContainer {
  padding: 5px;
  display: flex;
}
