.demoButton {
    background-color: #1ED760;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    border-radius: 500px;
    padding: 14px 32px;
    color: #2941AB;
    border: none;
    height: 47px;
    width: 250px;
    margin-bottom: 300px;
}

.landingBackground {
    background-image:url(https://i.ibb.co/k3mM9LR/vibing-is.png);
    background-size: cover;
    height: 100vh;
    position: relative;
    bottom: 110px;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.landingPageContainer {
    overflow-x: hidden;
    max-width: 100vw;
    background-color: white;
    height: 100vh;
}


.footerContainer {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    position: relative;
    bottom: 6%;
    height: 1%;

}

.footerLinksContainer {
    padding: 5px;
    display: flex;
}
