/* TODO Add site wide styles */
body, html, #root {
    height: 100%;
    width: 100%;
    margin:0 auto;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

a {
text-decoration: none;
}

ul {
margin: 0;
list-style: none;
padding: 0;
}

/* @viewport {
  width: device-width;
  zoom: 1;
} */
