.main-content {
    /* position:fixed; */
    /* left: 35%; */
}

/* .circle {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
} */