.main-sign-up-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
#message-login {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 30px;
    justify-content: center;
}

#login-form > #login-message {
    font-weight: bold;
    padding: 20px
}

#sign-up-form  {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 350px;
    width: 500px;
    /* background-color: green */
}
.sign-up-form > {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 20px;
    margin: 20px;
    border-radius: 10%;
}
#sign-up-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}
#sign-up-form label {  
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* #sign-up-form > input {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 0 10px;
} */
/* .main-sign-up-content button {
    justify-content: center;
    align-items: center;
} */
#sign-up-form input {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 0 10px;
}