.singleReview{
    display: flex;
    align-items: baseline;
}

.singleReviewContainer{
    margin-left: 8%;
    margin-right: 300px;
    border-bottom: 4px solid rgb(0 0 0 / 30%);
}

.description{
    font-size: 13px;
    font-weight: 400;
}

.userName{
    font-size: 12px;
    font-weight: bold;
}

.star{
    color:yellow
}