.splash-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-button,
.signup-button {
    cursor: pointer;
}

.login-button:hover,
.signup-button:hover {
    color: tomato;
}