/* -- Add playlist ---------------- */
.add-form-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-header {
    color: white;
    font-size: 18px;
    padding-bottom: 2px;
    margin-bottom:0;
}

.add-form-con {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;


}

.form-label {
    color: white;
    margin: 4px 0;

}

.form-button {
    color: rgb(219, 219, 219);
    background: none;
    border: none;
    padding: 6px;

}

.form-button:hover {
    color: white;
    cursor: pointer;
}

.form-input {
    width: 100%;
}

/* -- Display playlist ------------- */
.playlist-list {
    border-top:rgb(68, 68, 68) 1px solid;
    /* width: 70%; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}

.playlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    text-overflow: ellipsis;


}

.playlist-name {
    font-size: 15px;
    text-overflow: ellipsis " [..]";
    color: white;

}

.playlist-description {
    color:white;


}

/* -- Playlist Page --------------------- */
.playlist-page-container {
    margin-left: 20%;
    padding-bottom: 200px;
    padding-left: 15px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: 100%;
    color: white;
    background-color: #252525;
}

.image-container {
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: #4C4C4C; */
    /* padding-bottom: 20px; */
}

.image-collage {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5px;
}

.playlist-img {
    max-width: 100%;

}

.playlist-details {
    /* position: absolute; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}

.settings-buttons {
    font-size: 25px;
    padding: 15px;
    margin-bottom: 20px;
}

.playlist-options {
    display: flex;
    justify-content: flex-start;
    width: 20%;
    margin-bottom: 10px;
}

.delete-edit-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.delete-button {
    color: red;
}

.delete-button,
.edit-button {
    font-size: 15px;
    margin: 0;
}

.delete-button:hover {
    color: rgb(255, 77, 77);
    cursor: pointer;
}

.play-icon {
    padding: 8px;
}

.play-icon:hover {
    color: darkgreen;
    cursor: pointer;
}

/* -- Edit Playlist Form ---------------- */
.edit-button {
    cursor: pointer;
}

.edit-button:hover {
    color:rgb(1, 145, 1);
}
.edit-form-label {
    margin: 4px 0;

}

.edit-form-button {
    background: none;
    border: none;
    padding: 6px;
    color: white;

}

.edit-form-input {
    background: rgb(255, 255, 255, .7);
    border: none;
    border-radius: 3px;
}

.edit-form-button:hover {
    cursor: pointer;
}

.edit-form-input {
    width: 100%;
}

/* -- Song display ---------------- */
.song-display-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.song-table {
    width: 100%;
    border-collapse: collapse;

}

.song-labels {
    border-bottom:rgb(114, 113, 113) solid 2px;

}

.table-label {
    padding-bottom: 10px;
}

.album-thumbnail {
    max-height: 50px;
}

.song-name-row {
    display: flex;
    flex-direction: column;
}

.table-row {
    border-bottom: 1px solid black;
}

.cell {
    padding-bottom: 8px;
    text-align:start;
    vertical-align: center;
}

.track {
    width: 5%;
}

.table-row:hover {
    background-color: rgb(114, 113, 113);

}

.song-info-links {
    color: white;
}
.song-info-links:hover {
    color: darkgreen;
}

.queue-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* -- ADD SONG MODAL ----------------- */
.select-playlist {
    border:none;
    border-radius: 3px;
    background: rgba(255,255,255,.7);
}

.plus-button:hover {
    color: darkgreen;
    cursor: pointer;
}
.plus-button {
    padding: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(0, 0, 0, .5);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  right: 10px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}



/* -- Errors -------------------------- */
.errors {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.error-title {
    text-align: center;
    color: red;

}

.error-list {

}

.error {
    text-align: center;
    color: red;
}

/* -- Suggested Songs ------------*/
.suggested-header {
    text-align: center;
    height: 200px;
    border-bottom:rgb(114, 113, 113) solid 2px;
    margin-bottom: 10px;
}

.suggested-text {
    font-size: 20px;
    font-weight: 100;
}
