/* -- Add playlist ---------------- */
.add-form-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-header {
    color: white;
    font-size: 18px;
    padding-bottom: 2px;
    margin-bottom:0;
}

.add-form-con {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    

}

.form-label {
    color: white;
    margin: 4px 0;

}

.form-button {
    color: rgb(219, 219, 219);
    background: none;
    border: none;
    padding: 6px;

}

.form-button:hover {
    color: white;
    cursor: pointer;
}

.form-input {
    width: 100%;
}

/* -- Display playlist ------------- */
.playlist-list {
}

.playlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.playlist-name {
    text-decoration: none;
    text-decoration-line: none;
    font-size: 15px;
}

.playlist-description {
    color:white;


}

/* -- Playlist Page --------------------- */
.playlist-page-container {
    position: fixed;
    left: 35%;
    overflow:scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* -- Edit Playlist Form ---------------- */
.edit-button {
    cursor: pointer;
}

.edit-button:hover {
    color:cornflowerblue;
}
.edit-form-label {
    margin: 4px 0;

}

.edit-form-button {
    background: none;
    border: none;
    padding: 6px;

}

.edit-form-button:hover {
    cursor: pointer;
}

.edit-form-input {
    width: 100%;
} 

