/* -- Add playlist ---------------- */
.add-form-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-header {
    color: white;
    font-size: 18px;
    padding-bottom: 2px;
    margin-bottom:0;
}

.add-form-con {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    

}

.form-label {
    color: white;
    margin: 4px 0;

}

.form-button {
    color: rgb(219, 219, 219);
    background: none;
    border: none;
    padding: 6px;

}

.form-button:hover {
    color: white;
    cursor: pointer;
}

.form-input {
    width: 100%;
}

/* -- Display playlist ------------- */
.playlist-list {
    border-top:rgb(68, 68, 68) 1px solid;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.playlist-name {
    text-decoration: none;
    text-decoration-line: none;
    font-size: 15px;
}

.playlist-description {
    color:white;


}

/* -- Playlist Page --------------------- */
.playlist-page-container {
    margin-left: 22%;
    padding-bottom: 200px;
    padding-left: 15px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: 100%;
    color: white;
    background-color: #212121;
}

.image-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.image-collage {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5px;
    
}

.playlist-img {
    max-width: 100%;
}

.playlist-details {
    /* position: absolute; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}



.playlist-options {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.delete-button {
    color: red;
}

.delete-button:hover {
    color: black;
    cursor: pointer;
}

.play-icon {
    padding: 8px;
}

/* -- Edit Playlist Form ---------------- */
.edit-button {
    cursor: pointer;
}

.edit-button:hover {
    color:cornflowerblue;
}
.edit-form-label {
    margin: 4px 0;

}

.edit-form-button {
    background: none;
    border: none;
    padding: 6px;

}

.edit-form-button:hover {
    cursor: pointer;
}

.edit-form-input {
    width: 100%;
} 

/* -- Song display ---------------- */
.song-display-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.song-table {
    width: 100%;
    border-collapse: collapse;

}

.album-thumbnail {
    max-height: 50px;
}

.song-name-row {
    display: flex;
    flex-direction: column;
}

.table-row {
    border-bottom: 1px solid black;
}

.cell {
    padding-bottom: 8px;
    text-align:start;
    vertical-align: center;
}

.track {
    width: 5%;
}

.table-row:hover {
    background-color: rgb(114, 113, 113);
    
}

.song-info-links {
    color: white;
}
.song-info-links:hover {
    color: darkgreen;
}

/* -- ADD SONG MODAL ----------------- */
.plus-button:hover {
    color: darkgreen;
    cursor: pointer;
}