.search {
  height: 40px;
  width: 400px;
  /* margin-left: 700px; */
  border-radius: 55px;
  margin-top: 15px;
  position: relative;
  left: 45%;
  padding: 5px;
  overflow: hidden;
}
/* .search-container {
  display: flex;
  justify-content: center;
} */

.bigContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  /* align-items: center; */
  left: 30%;
  z-index: 99%;
  width: 60%;
  /* left: "71.2%"; */
  top: "42%";
  height: "83.5%";
  /* z-index: 99%; */
}

.bigContainer td {
  padding: 10px;
}

.bigAlbums {
  margin-top: 5%;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  margin-bottom: 5%;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* margin-top: 10%; */
  /* width: 135px;
  height: 135px; */
}

.littleAlbum {
  display: inline-block;
  /* flex-direction: row; */
  margin-left: 20px;
  /* margin-top: 20px; */
  width: 135px;
  height: 135px;
  object-fit: cover;
}

.bigArtists {
  grid-template-columns: repeat(2, minmax(0px, 1fr));
}

.littleArtist {
  display: inline-block;
  margin-left: 20px;
  width: 135px;
  height: 135px;
  margin-top: 30px;
}
