.search {
  height: 40px;
  width: 400px;
  /* margin-left: 700px; */
  border-radius: 55px;
  margin-top: 15px;
  position:relative;
  left:45%
 
  
}

.bigContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  left:30%;
  z-index: 99%;
  width: "100%";
  left: "71.2%";
  top: "42%";
  height: "83.5%";
  z-index: 99%; 
}

.bigAlbums {
  margin-top: 5%;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  margin-bottom: 5%;
}

.littleAlbum {
  display: inline-block;
  margin-left: 20px;
}

.bigArtists {
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  margin-bottom: 30%;
}

.littleArtist {
  display: inline-block;
  margin-left: 20px;
 
}
