.search {
  height: 40px;
  width: 400px;
  /* margin-left: 700px; */
  border-radius: 55px;
  margin-top: 15px;
  position:relative;
  left:45%
 
  
}

.bigContainer {
  display: flex;
  flex-direction: column;
}

.bigAlbums {
  grid-template-columns: repeat(2, minmax(0px, 1fr));
}

.littleAlbum {
  display: inline-block;
  margin-left: 20px;
}

.bigArtists {
  grid-template-columns: repeat(2, minmax(0px, 1fr));
}

.littleArtist {
  display: inline-block;
  margin-left: 20px;
}
