.main-page {
  margin-left: 20%;
  background-color: #121212;
  height: 100%;
  overflow-x: hidden;
}
.main-page-container {
  display: flex;
  flex-direction: column;
  width: 78%;
  height: 100%;
  left: 1%;
  position: relative;
  background-color: #121212 !important;
}
.album-art {

  object-fit: cover;
}


.albums-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 78vw;
  /* position: relative; */
  background-color: #121212;
  bottom: 80px;
  margin-left: 1vw;
}

.albumTile-container {
  border: 1px solid black;
  background-color: #1A1A1A;
  align-items: center;
  padding: 9px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.albumTile-container:hover {
  background-color: #282828;
}

.album-art {
  align-self: center;
}

.review-link {
  color: white;
  font-weight: bold;
}

.artists-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 80vw;
  margin-left: 2vw;
  padding-bottom: 70px;
  overflow-x: hidden;

}

.artists-container:hover {
  overflow-x: scroll;

}

.artistTile-container {
  border: 1px solid black;
  background-color: #1A1A1A;
  align-items: center;
  padding: 9px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;

}

.artistTile-container:hover {
  background-color: #282828;
}

.albums-header {
  color: white;
  margin-left: 2%;
}

.artists-header {
  position: relative;
  color: white;
  margin-left: 2%;
}

.welcome {
  color: white;
  position: relative;
  font-size: 55px;
  margin-left: 3%;

}
 .wrapper {
  margin-left:auto;
  margin-right:auto;
  background-color: #121212 !important;
 }

 .main-page-header {
   height: 300px;
   display: flex;
   flex-direction: column;
   background-color: #717171;
   width: 90vw;
   margin-left: -100px;
   background: linear-gradient(180deg, #717171 0%, #121212 100%)
 }

 .reviews-link-container {
   display: flex;
   justify-content: center;
   width: 80%;
   margin-left: 10%
 }

 .reviews-link-container:hover {
   border: 1px solid white;
 }
