
.artist-page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  height: 100%;
  background-color: #252525;
  padding-bottom: 200px;
  overflow: scroll;
  margin-left: 20%;
   padding-left: 25px;
}

.artist-page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.artist-header-img {
    width: 100%;

}


.artist-page-name {
  font-size: 75px;
  color: white;
}


.discography-container {
  margin-bottom: 50px;
  width: 100%;
}
.discography {
  color: white;
  text-align: center;
}

.about-container {
  display: flex;
  margin: 50px 5px;
  /* justify-content: space-around; */
  /* flex-direction: column; */
  /* margin-left: 18%; */
}

.about {
  color: white;
  text-align: center;
}

.artist-bio {
  color: white;
  text-align: justify;
  padding: 5px;
}

.artist-bio-image {
  max-height: 200px;
  padding: 10px;
  border-radius: 25px;
  float: left;
}

.plus-button {
  color: white;
}

